body{
    overflow: auto;
    background-color: rgb(182, 200, 233);
}
header {
    position:fixed;
    background-color: rgb(30, 7, 165);
    width: 1300px;
    height: 80px ;
    padding-left: 58px;
margin-left: -8px ;
margin-top: -21px;
z-index:999;
}

header h1{
    font-style: italic;
}
.empresa{
   margin-right: 50px;
   width: 260px;
   color: white;
}
/*nav{
    color: rgb(35, 13, 56);
margin-left: 300px;
margin-top: -40px;
}*/
.navegador{
    
    margin-left: 300px;
    margin-top: -40px;
}
.nav1{
    float: left;
    list-style-type: none;
    /*border: 1px solid rgb(2, 18, 61);*/
    padding: 10px 20px 31px 10px;
    position: relative;
    top:-30px;
    background-color: rgb(25, 9, 252);
}
.nav1 a{
    color:white;
    display: inline;
}
.nav1:hover{
    background-color: rgb(77, 165, 238);
}
.banner{
    width: 1384px;
    height: 500px;
    margin-top: -18px;
    margin-left: -8px;
    border: 2px solid rgb(6, 6, 7);
    animation-name: banner;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: 8px 10px 10px rgb(126, 125, 125);
background-size: 100% 100%;
}
   /*establecemos las paradas de la animación*/
   @keyframes banner{
    0%,30% {
        background-image: url(estilos/mendoza_aconcahua.jpg);
        opacity: 1;
    }
    31%,34%{
        opacity: 0.1;
    }
    35%,65%{
background-image: url(estilos/tanti-el-durazno.jpg);
opacity: 1;
    }
    66%,69%{
        opacity: 0.1;
    }
    70%, 100%{
        background-image: url(estilos/cata_igua_misiones.jpg);
        opacity: 1;
    }
   }
   #titulo-medio{
       text-align: center;  
   }
   #provincia{
       text-align: center;
       font-style: oblique;
   }
   .lugares{
    list-style-type: none;
    position: relative;
    left: 50px;
   }
   .pos{
       display: inline;
       margin-left: 50px;
   }
.option-img{
width: 220px;
height: 200px;
border-radius: 10px;
box-shadow: 10px 10px 10px gray;
}
#pie{
    background-color: black;
width: 1000px;
}