@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
body{
    overflow: auto;
    background-color: rgb(182, 200, 233);
}
header {
    position:fixed;
    background-color: rgb(30, 7, 165);
    width: 1300px;
    height: 80px ;
    padding-left: 58px;
margin-left: -8px ;
margin-top: -21px;
z-index:999;
}

header h1{
    font-style: italic;
    text-shadow: 5px 5px 5px rgb(73, 72, 70);
}
.empresa{
   margin-right: 50px;
   width: 260px;
   color: white;
}
/*nav{
    color: rgb(35, 13, 56);
margin-left: 300px;
margin-top: -40px;
}*/
.navegador{
    
    margin-left: 300px;
    margin-top: -40px;
}
.nav1{
    float: left;
    list-style-type: none;
    /*border: 1px solid rgb(2, 18, 61);*/
    padding: 10px 20px 31px 10px;
    position: relative;
    top:-30px;
    background-color: rgb(25, 9, 252);
}
.nav1 a{
    color:white;
    display: inline;
    text-decoration: none;
}
.nav1:hover{
    background-color: rgb(77, 165, 238);
}
.banner{
    width: 1384px;
    height: 600px;
    margin-top: -18px;
    margin-left: -8px;
    border: 2px solid rgb(6, 6, 7);
    animation-name: banner;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: 8px 10px 10px rgb(126, 125, 125);
background-size: 100% 100%;
}
   /*establecemos las paradas de la animación*/
   @keyframes banner{
    0%,30% {
        background-image: url(estilos/mendoza_aconcahua.jpg);
        opacity: 1;
    }
    31%,34%{
        opacity: 0.1;
    }
    35%,65%{
background-image: url(estilos/canale-grande-venecia-gondola-summer-31303211.jpg);
opacity: 1;
    }
    66%,69%{
        opacity: 0.1;
    }
    70%, 100%{
        background-image: url(estilos/london-bus-25906109.jpg);
        opacity: 1;
    }
   }
   #titulo-medio{
       text-align: center;  
       font-family: 'Noto Serif', serif;
       color: rgb(13, 6, 114);
   }
   h2{
       text-align: center;
       font-family: 'Noto Serif', serif;
       color: rgb(13, 6, 114);
   }
   .lugares{
    list-style-type: none;
    position: relative;
    left: 50px;
   }
   .pos{
       display: inline;
       margin-left: 50px;
   }
.option-img{
width: 220px;
height: 200px;
border-radius: 10px;
box-shadow: 10px 10px 10px gray;
}
#pie{
    background-color: rgb(5, 6, 7);
width: 1380px;
height: 300px;
outline:17px solid rgb(7, 10, 12);
}
.contacto,h3{
position: relative;
left: 20px;
color: rgb(245, 242, 231);
}
.contactos,li{
    list-style: none;
    margin-bottom: 20px;
    color: rgb(245, 242, 231);
}
.contactos,img{
    position: relative;
    top: 10px;
}
.viajes{
    position: relative;
    left: 150px;
    text-align: center;
    width: 1000px;
}
.viajes,tr,th,td{
    border: 2px solid rgb(108, 113, 121);
    border-collapse: collapse; 
    height: 50px;
}
th{
    background-color: rgb(250, 245, 226);
}
td{
    background-color: rgb(77, 174, 238);
}
.viajes a{
    text-decoration: none;
    background-color: rgb(9, 138, 30);
    color: rgb(250, 245, 226);
    width: 20px;
    border-radius: 5px;
}
